/*импортируем шрифт*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*добавляем этот шрифт ко всему тексту на сайте*/
body {
  font-family: "Open Sans", serif;
}

/*стили для фона*/
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(207,187,250,1);
    background: -moz-linear-gradient(left, rgba(207,187,250,1) 0%, rgba(250,168,147,1) 29%, rgba(235,162,85,1) 63%, rgba(224,87,87,1) 100%);
    //background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,187,250,1)), color-stop(29%, rgba(250,168,147,1)), color-stop(63%, rgba(235,162,85,1)), color-stop(100%, rgba(224,87,87,1)));
    background: -webkit-linear-gradient(left, rgba(207,187,250,1) 0%, rgba(250,168,147,1) 29%, rgba(235,162,85,1) 63%, rgba(224,87,87,1) 100%);
    background: -o-linear-gradient(left, rgba(207,187,250,1) 0%, rgba(250,168,147,1) 29%, rgba(235,162,85,1) 63%, rgba(224,87,87,1) 100%);
    background: -ms-linear-gradient(left, rgba(207,187,250,1) 0%, rgba(250,168,147,1) 29%, rgba(235,162,85,1) 63%, rgba(224,87,87,1) 100%);
    background: linear-gradient(to right, rgba(207,187,250,1) 0%, rgba(250,168,147,1) 29%, rgba(235,162,85,1) 63%, rgba(224,87,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfbbfa', endColorstr='#e05757', GradientType=1 );
}

.main {
    height: 60vh;
    background-image: url("img/pogoda.jpg");



  background-blend-mode: multiply;
  background-color: dimgray;




    box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
    width: 80%;
    margin: 0 auto;
    opacity: 0.9
}
.color{
  color: blanchedalmond;
  font-weight: 600;
}
.re{
  text-transform: uppercase;
}
.he{
  font-size: 1.3em
}
.g{
  padding-left: 100%;
  width: 200%;
  color: blanchedalmond;
  font-weight: 600;
}


.table{
    position: fixed;
    right: 10%;
    max-height: 50%;
    max-width: 50%;
}
.height{
    height: 10%;
}
.pad{
    padding: 1.8vh;
}

.data-today-table{
  color: blanchedalmond;
  font-weight: 600;
}
input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #113a65;
  width: 50%;
  padding-bottom: 4px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: white; /*Надпись "город" на кнопке*/
}

input::-moz-placeholder {
  color: #e4e4e4;
}

button {
  border: 2px solid #103a65;
  border-bottom: 4px solid #103a65;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: rebeccapurple;
  color: #fff;
  outline: none!important;
  opacity: 0.9
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
  opacity: 0.8
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
  opacity: 0.9
}

.bottons {
  height: 55vh;
  background: url("img/pogoda.jpg") center center no-repeat;
  background-blend-mode: multiply;
  background-color: #484747;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.bot{
  font-size: 1.7em;
  color: blanchedalmond;
  font-weight: bold;
}


.error {
    color: white;
    font-weight: bold;
}